@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

#data {
  /* height: 60vh; */
  padding-top: 60px;
  width: 100%;
  color: white;
  font-weight: 200 !important;
  background-color: rgb(29, 28, 28);
}
#data>h1{
  margin: auto;
  width: fit-content;
  color: rgb(227, 52, 122);
}
#registrationForm {
  display: flex;
  flex-direction: column;
}
#registrationForm input,
select {
  height: 35px;
  font-size: 10px;
  color: aliceblue;
  min-width: 250px;
  /* max-width: 50%; */
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  zoom: 1.3;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}
select option {
  /* color:yellow; */
  background-color: rgba(9, 9, 9, 0.799);
}
#geocoder svg,
.mapboxgl-ctrl-geocoder--input {
  display: none;
}
#geocoder .mapboxgl-ctrl-geocoder,
mapboxgl-ctrl {
  background-color: rgba(0, 0, 0, 0.1);
}
/* #geocoder .suggestions-wrapper{
    margin-left: 300px;
} */
#geocoder {
  margin: auto;
}
#geocoder input {
  display: block;
  height: 35px;
  font-size: 10px;
  margin-left: -11.5px;
  position: relative !important;
}

/*Response Modal*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0, 0.4); /* Fallback color */
}

/* Modal Content/Box */
#modal-content {
  background-color: rgba(170, 170, 170, 0.192);
  margin: 300px auto; /* 15% from the top and centered */
  padding: 20px;
  width: fit-content;
  border: 1px solid #888; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.2s;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.cm,
.kg {
  margin: auto;
}
.cm::after {
  content: "cm";
}
.kg::after {
  content: "kg";
}
.form_row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/*scrollbar*/
::-webkit-scrollbar{
  width: 5px;
}
 ::-webkit-scrollbar-thumb{
  background-color: rgb(191, 31, 95);
}