.innercontainer {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    padding: 0 5px;
}

.leftcont {
    width: 35%;
    padding: 0 40px;
    margin-top: 40px;
    margin-left: 10px;
    color: white;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: left;
    line-height: 1.4em;
}

.rightcont {
    width: 100%;
}

.paraleft {
    padding: 20px 3px;
    display: flex;
    text-align: left;
    justify-content: right;
    align-items: flex-end;
    font-size: 20px;
}

.leftimg {
    margin: 2px 25%;
}

.circle {
    border-radius: 50%;
    background-color: rgba(206, 170, 170, 0.581);
    height: 100px;
    width: 100px;
    box-shadow: rgba(255, 255, 255, 0.392) 0px 7px 29px 0px;
    cursor: pointer;
}

.circle1 {
    margin-left: 35%;
    height: 281px;
    width: 281px;
    transform: scale(1);
}

.circle2 {
    margin-top: -10%;
    margin-left: 50%;
    height: 282px;
    width: 282px;
    background-color: rgba(160, 130, 130, 0.581);
}

.circle1:hover,
.circle2:hover {
    transform: scale(1.1);
    transition: 400ms ease;
    background-color: #9e2e3b;
}

.circle1:active,
.circle2:active {
    transform: scale(0.9);
    transition: 400ms ease;
}

.idk {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45%;
    color: rgb(239, 227, 227);
    font-size: 32px;
    font-weight: 600;
}

@media (max-width: 990px) {
    .innercontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .leftcont {
        width: 100%;
        color: white;
        box-sizing: border-box;
        text-align: justify;
        line-height: 1.4em;
    }
    .leftimg {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rightcont {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .circle {
        display: flex;
        background-color: rgba(110, 70, 70, 0.581);
        margin: 10px 10px;
        align-self: center;
        justify-content: center;
        width: 100px;
        cursor: pointer;
    }
    .circle1 {
        margin-left: 0;
        height: 100px;
        width: 70%;
        transform: scale(1);
        margin: 10px 10px;
        border-radius: 5px;
        box-shadow: rgba(235, 212, 187, 0.2) 0px 8px 24px;
    }
    .circle2 {
        height: 100px;
        width: 70%;
        margin: 0;
        border-radius: 5px;
        box-shadow: rgba(235, 212, 187, 0.2) 0px 8px 24px;
        margin: 10px 10px;
    }
    .idk {
        display: flex;
        align-items: center;
        top: auto;
    }
}