/* 
theme colors
C62368 */
:root {
  --yellow: #ffffff;
}
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300&display=swap');
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Noto Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: url("../assets/bg3.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  padding: 0 2%;
  width: 100%;
  color: white;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0%;
  height: 75px;
  z-index: 100;
  background: linear-gradient(rgba(31, 13, 51, 0.452), transparent);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(2px);
  justify-content: space-between;
  margin-bottom: 100px;

}

nav::-webkit-scrollbar {
  display: none;
}

/* 
.navbarleft img {
    background: transparent
}

.navbarleft p {
    background: transparent;
    margin-right: 25%;
    font-weight: bolder;
}



.navbarleft ul li {
    padding-top: 31%;
    color: blanchedalmond;
    font-size: 35px;
    list-style: none;
    font-family: sans-serif;
}

.navbarleft li span {
    position: relative;
}

.navbarleft li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #C62368;
    border-left: 2px solid blanchedalmond;
    animation: typing 2s steps(15) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
*/
.svg_type {
  margin-top: 40%;
}
.navbarleft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  flex-basis: 30%;
  background: transparent;
  font-weight: 600;
}
.navbarright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 45%;
  background: transparent;
  transition: 800ms;
  font-weight: 400;
}
.navbarright ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background: transparent;
  font-size: 15px;
  width: 100%;
}

.navbarright ul li {
  list-style: none;
  background: transparent;
  flex-wrap: nowrap;
}

.navbarright ul li a {
  text-decoration: none;
  color: white;
  padding: 0 40px;
  background: transparent;
  min-width: fit-content;
  white-space: nowrap;
}

.navbarright ul li a:hover {
  transition: 200ms;
  color: pink;
  
}
#active {
  color: var(--yellow);
  font-weight: bold;
  pointer-events: none;
}
.innercontainer {
  display: flex;
  flex-direction: row;
  margin-top: 97px;
  padding: 0 5px;
}

.leftcont {
  width: 35%;
  padding: 0 40px;
  margin-top: 40PX;
  margin-left: 10PX;
  color: white;
  background-color: rgba(255, 255, 255, 0.082);
  border: solid 1px rgba(255, 255, 255, 0.137);
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: #c6236738 0px 3px 8px;
  text-align: left;
  line-height: 1.4em;
}

.paraleft {
  padding: 20px 3px;
  display: flex;
  text-align: left;
  justify-content: right;
  align-items: flex-end;
}
.leftimg{
  margin:2px 25%;
}

/* }
.circle{
  border-radius: 50%;
  background-color: red;
  height:100px;
  width:100px;
} */

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  .svg_type {
    margin-top: -20px;
  }
  .navbarleft {
    margin: 20px;
  }
  .navbarright {
    margin-top: -120px;
    width: 100%;
    margin-left: -60px;
  }
  .navbarright ul {
    width: 100%;
    justify-content: space-around;
    margin: auto;
  }
  .navbarright ul li {
    margin: 0;
  }
}
