/* 
theme colors
C62368 */
:root {
  --yellow: #ffffff;
}
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
  font-family: "Noto Sans", sans-serif;
}

body {
  /* height: 100vh;
  width: 100vw; */
  background-color: rgb(29, 28, 28);
}

/* navbarcss */
.custom-shape-divider-top-1649341798 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1649341798 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 281px;
}

.custom-shape-divider-top-1649341798 .shape-fill {
  fill: #9e2e3b;
  z-index: 0.1;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1649341798 svg {
    width: calc(300% + 1.3px);
    height: 84px;
  }
}
nav {
  display: flex;
  padding: 0 2%;
  width: 100%;
  color: white;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0%;
  height: 75px;
  background: linear-gradient(rgba(31, 13, 51, 0.452), transparent);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(2px);
  justify-content: space-between;
  margin-bottom: 100px;
}
.svg_type {
  margin-top: 40%;
  z-index: 100;
}
.navbarleft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  flex-basis: 30%;
  background: transparent;
  font-weight: 600;
}
.navbarright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 45%;
  background: transparent;
  transition: 800ms;
  font-weight: 400;
  z-index: 100;
}
.navbarright ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background: transparent;
  font-size: 15px;
  width: 60vw;
}

.navbarright ul li {
  list-style: none;
  background: transparent;
  flex-wrap: nowrap;
}

.navbarright ul li a {
  text-decoration: none;
  color: white;
  margin: 0 40px 5px 0px;
  background: transparent;
  min-width: fit-content;
  white-space: nowrap;
}

.navbarright ul li a:hover {
  transition: 200ms;
  color: pink;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#active {
  color: var(--yellow);
  font-weight: bold;
  pointer-events: none;
  border-bottom: 3px solid;
}
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  .svg_type {
    margin-top: -20px;
  }
  .navbarleft {
    margin: 20px;
  }
  .navbarright {
    margin-top: -120px;
    width: 100%;
    margin-left: -60px;
  }
  .navbarright ul {
    width: 100%;
    justify-content: space-around;
    margin: auto;
  }
  .navbarright ul li {
    margin: 0;
  }
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(191, 31, 95);
}
